resource "cloudru_evolution_compute_security_group" "sg-{{ config.vm_params[0].cluster_type }}-{{ config.vm_params[0].service_id }}-{{ config.vm_params[0].ogid }}" {
  zone_identifier = {
    # Нужно заполнить одно из значений - id, name.
    #id   = "8f234696-1274-4de2-999e-b43618f7802f"
    name = "{{ config.vm_params[0].az }}"
  }
  project_id  = "{{ config.vm_params[0].project_id }}"
  name        = "sg-{{ config.vm_params[0].cluster_type }}-{{ config.vm_params[0].service_id }}-{{ config.vm_params[0].ogid }}"
  description = "Security group for the Cluster {{ config.vm_params[0].ogid }}"
}

resource "cloudru_evolution_compute_security_group_rule" "sg-{{ config.vm_params[0].cluster_type }}-{{ config.vm_params[0].service_id }}-{{ config.vm_params[0].ogid }}_1" {
  security_group_id = cloudru_evolution_compute_security_group.sg-{{ config.vm_params[0].cluster_type }}-{{ config.vm_params[0].service_id }}-{{ config.vm_params[0].ogid }}.id 
  remote_security_group_identifier = {
    # Нужно заполнить одно из значений - id, name.
    id   = cloudru_evolution_compute_security_group.sg-{{ config.vm_params[0].cluster_type }}-{{ config.vm_params[0].service_id }}-{{ config.vm_params[0].ogid }}.id
    #name = "971d59be-4f6d-4dd9-a7c7-46abf55dbeee"
  }
  description      = "Intra SG rule"
  ether_type       = "ETHER_TYPE_IPV4"
  ip_protocol      = "IP_PROTOCOL_TCP"
  #remote_ip_prefix = "6d6d9176-685d-4c32-a336-3505bc9ab0c8"
  direction        = "TRAFFIC_DIRECTION_EGRESS"
  port_range       = "any"
}

resource "cloudru_evolution_compute_security_group_rule" "sg-{{ config.vm_params[0].cluster_type }}-{{ config.vm_params[0].service_id }}-{{ config.vm_params[0].ogid }}_2" {
  security_group_id = cloudru_evolution_compute_security_group.sg-{{ config.vm_params[0].cluster_type }}-{{ config.vm_params[0].service_id }}-{{ config.vm_params[0].ogid }}.id
  description      = "SUP SG rule"
  ether_type       = "ETHER_TYPE_IPV4"
  ip_protocol      = "IP_PROTOCOL_ANY"
  remote_ip_prefix = "10.246.0.0/20"
  direction        = "TRAFFIC_DIRECTION_EGRESS"
  port_range       = "any"
}

resource "cloudru_evolution_compute_security_group_rule" "sg-{{ config.vm_params[0].cluster_type }}-{{ config.vm_params[0].service_id }}-{{ config.vm_params[0].ogid }}_3" {
  security_group_id = cloudru_evolution_compute_security_group.sg-{{ config.vm_params[0].cluster_type }}-{{ config.vm_params[0].service_id }}-{{ config.vm_params[0].ogid }}.id
  description      = "Platform SG rule"
  ether_type       = "ETHER_TYPE_IPV4"
  ip_protocol      = "IP_PROTOCOL_TCP"
  remote_ip_prefix = "10.244.0.0/22"
  direction        = "TRAFFIC_DIRECTION_EGRESS"
  port_range       = "any"
}

resource "cloudru_evolution_compute_security_group_rule" "sg-{{ config.vm_params[0].cluster_type }}-{{ config.vm_params[0].service_id }}-{{ config.vm_params[0].ogid }}_4" {
  security_group_id = cloudru_evolution_compute_security_group.sg-{{ config.vm_params[0].cluster_type }}-{{ config.vm_params[0].service_id }}-{{ config.vm_params[0].ogid }}.id
  description      = "IAM SE"
  ether_type       = "ETHER_TYPE_IPV4"
  ip_protocol      = "IP_PROTOCOL_TCP"
  remote_ip_prefix = "10.10.11.0/24"
  direction        = "TRAFFIC_DIRECTION_EGRESS"
  port_range       = "any"
}

resource "cloudru_evolution_compute_security_group_rule" "sg-{{ config.vm_params[0].cluster_type }}-{{ config.vm_params[0].service_id }}-{{ config.vm_params[0].ogid }}_5" {
  security_group_id = cloudru_evolution_compute_security_group.sg-{{ config.vm_params[0].cluster_type }}-{{ config.vm_params[0].service_id }}-{{ config.vm_params[0].ogid }}.id
  description      = "IAM SE"
  ether_type       = "ETHER_TYPE_IPV4"
  ip_protocol      = "IP_PROTOCOL_TCP"
  remote_ip_prefix = "10.10.12.0/23"
  direction        = "TRAFFIC_DIRECTION_EGRESS"
  port_range       = "any"
}

resource "cloudru_evolution_compute_security_group_rule" "sg-{{ config.vm_params[0].cluster_type }}-{{ config.vm_params[0].service_id }}-{{ config.vm_params[0].ogid }}_6" {
  security_group_id = cloudru_evolution_compute_security_group.sg-{{ config.vm_params[0].cluster_type }}-{{ config.vm_params[0].service_id }}-{{ config.vm_params[0].ogid }}.id
  description      = "JAM Cloud.Ru SG rule"
  ether_type       = "ETHER_TYPE_IPV4"
  ip_protocol      = "IP_PROTOCOL_TCP"
  remote_ip_prefix = "37.18.107.197/32"
  direction        = "TRAFFIC_DIRECTION_EGRESS"
  port_range       = "any"
}

resource "cloudru_evolution_compute_security_group_rule" "sg-{{ config.vm_params[0].cluster_type }}-{{ config.vm_params[0].service_id }}-{{ config.vm_params[0].ogid }}_7" {
  security_group_id = cloudru_evolution_compute_security_group.sg-{{ config.vm_params[0].cluster_type }}-{{ config.vm_params[0].service_id }}-{{ config.vm_params[0].ogid }}.id
  description      = "JAM Cloud.Ru SG rule"
  ether_type       = "ETHER_TYPE_IPV4"
  ip_protocol      = "IP_PROTOCOL_TCP"
  remote_ip_prefix = "185.71.64.201/32"
  direction        = "TRAFFIC_DIRECTION_EGRESS"
  port_range       = "any"
}

resource "cloudru_evolution_compute_security_group_rule" "sg-{{ config.vm_params[0].cluster_type }}-{{ config.vm_params[0].service_id }}-{{ config.vm_params[0].ogid }}_8" {
  security_group_id = cloudru_evolution_compute_security_group.sg-{{ config.vm_params[0].cluster_type }}-{{ config.vm_params[0].service_id }}-{{ config.vm_params[0].ogid }}.id
  description      = "Platform SG rule"
  ether_type       = "ETHER_TYPE_IPV4"
  ip_protocol      = "IP_PROTOCOL_TCP"
  remote_ip_prefix = "37.18.73.105/32"
  direction        = "TRAFFIC_DIRECTION_EGRESS"
  port_range       = "any"
}

resource "cloudru_evolution_compute_security_group_rule" "sg-{{ config.vm_params[0].cluster_type }}-{{ config.vm_params[0].service_id }}-{{ config.vm_params[0].ogid }}_8_1" {
  security_group_id = cloudru_evolution_compute_security_group.sg-{{ config.vm_params[0].cluster_type }}-{{ config.vm_params[0].service_id }}-{{ config.vm_params[0].ogid }}.id
  description      = "Cloud-init rule"
  ether_type       = "ETHER_TYPE_IPV4"
  ip_protocol      = "IP_PROTOCOL_TCP"
  remote_ip_prefix = "169.254.169.254/32"
  direction        = "TRAFFIC_DIRECTION_EGRESS"
  port_range       = "80:80"
}


resource "cloudru_evolution_compute_security_group_rule" "sg-{{ config.vm_params[0].cluster_type }}-{{ config.vm_params[0].service_id }}-{{ config.vm_params[0].ogid }}_9" {
  security_group_id = cloudru_evolution_compute_security_group.sg-{{ config.vm_params[0].cluster_type }}-{{ config.vm_params[0].service_id }}-{{ config.vm_params[0].ogid }}.id
  remote_security_group_identifier = {
    # Нужно заполнить одно из значений - id, name.
    id   = cloudru_evolution_compute_security_group.sg-{{ config.vm_params[0].cluster_type }}-{{ config.vm_params[0].service_id }}-{{ config.vm_params[0].ogid }}.id
    #name = "971d59be-4f6d-4dd9-a7c7-46abf55dbeee"
  }
  description      = "Intra SG rule"
  ether_type       = "ETHER_TYPE_IPV4"
  ip_protocol      = "IP_PROTOCOL_TCP"
  #remote_ip_prefix = "6d6d9176-685d-4c32-a336-3505bc9ab0c8"
  direction        = "TRAFFIC_DIRECTION_INGRESS"
  port_range       = "any"
}

resource "cloudru_evolution_compute_security_group_rule" "sg-{{ config.vm_params[0].cluster_type }}-{{ config.vm_params[0].service_id }}-{{ config.vm_params[0].ogid }}_10" {
  security_group_id = cloudru_evolution_compute_security_group.sg-{{ config.vm_params[0].cluster_type }}-{{ config.vm_params[0].service_id }}-{{ config.vm_params[0].ogid }}.id
  description      = "Admin SG rule"
  ether_type       = "ETHER_TYPE_IPV4"
  ip_protocol      = "IP_PROTOCOL_TCP"
  remote_ip_prefix = "10.246.7.7/32"
  direction        = "TRAFFIC_DIRECTION_INGRESS"
  port_range       = "22:22"
}

resource "cloudru_evolution_compute_security_group_rule" "sg-{{ config.vm_params[0].cluster_type }}-{{ config.vm_params[0].service_id }}-{{ config.vm_params[0].ogid }}_11" {
  security_group_id = cloudru_evolution_compute_security_group.sg-{{ config.vm_params[0].cluster_type }}-{{ config.vm_params[0].service_id }}-{{ config.vm_params[0].ogid }}.id
  description      = "Gitlab SG rule"
  ether_type       = "ETHER_TYPE_IPV4"
  ip_protocol      = "IP_PROTOCOL_TCP"
  remote_ip_prefix = "10.246.0.160/27"
  direction        = "TRAFFIC_DIRECTION_INGRESS"
  port_range       = "22:22"
}

resource "cloudru_evolution_compute_security_group_rule" "sg-{{ config.vm_params[0].cluster_type }}-{{ config.vm_params[0].service_id }}-{{ config.vm_params[0].ogid }}_12" {
  security_group_id = cloudru_evolution_compute_security_group.sg-{{ config.vm_params[0].cluster_type }}-{{ config.vm_params[0].service_id }}-{{ config.vm_params[0].ogid }}.id
  description      = "Jump Hosts SG rule"
  ether_type       = "ETHER_TYPE_IPV4"
  ip_protocol      = "IP_PROTOCOL_TCP"
  remote_ip_prefix = "10.246.8.0/23"
  direction        = "TRAFFIC_DIRECTION_INGRESS"
  port_range       = "22:22"
}

resource "cloudru_evolution_compute_security_group_rule" "sg-{{ config.vm_params[0].cluster_type }}-{{ config.vm_params[0].service_id }}-{{ config.vm_params[0].ogid }}_13" {
  security_group_id = cloudru_evolution_compute_security_group.sg-{{ config.vm_params[0].cluster_type }}-{{ config.vm_params[0].service_id }}-{{ config.vm_params[0].ogid }}.id
  description      = "GIS SG rule"
  ether_type       = "ETHER_TYPE_IPV4"
  ip_protocol      = "IP_PROTOCOL_TCP"
  remote_ip_prefix = "{{ config.net_params[0].gis_subnet }}"
  direction        = "TRAFFIC_DIRECTION_INGRESS"
  port_range       = "9093:9093"
}

#resource "cloudru_evolution_compute_security_group_rule" "sg-{{ config.vm_params[0].cluster_type }}-{{ config.vm_params[0].service_id }}-{{ config.vm_params[0].ogid }}_14" {
#  security_group_id = cloudru_evolution_compute_security_group.sg-{{ config.vm_params[0].cluster_type }}-{{ config.vm_params[0].service_id }}-{{ config.vm_params[0].ogid }}.id
#  description      = "Cloud-init rule"
#  ether_type       = "ETHER_TYPE_IPV4"
#  ip_protocol      = "IP_PROTOCOL_TCP"
#  remote_ip_prefix = "169.254.169.254/32"
#  direction        = "TRAFFIC_DIRECTION_INGRESS"
#  port_range       = "any"
#}

resource "cloudru_evolution_compute_security_group_rule" "sg-{{ config.vm_params[0].cluster_type }}-{{ config.vm_params[0].service_id }}-{{ config.vm_params[0].ogid }}_15" {
  security_group_id = cloudru_evolution_compute_security_group.sg-{{ config.vm_params[0].cluster_type }}-{{ config.vm_params[0].service_id }}-{{ config.vm_params[0].ogid }}.id
  description      = "IAM SE"
  ether_type       = "ETHER_TYPE_IPV4"
  ip_protocol      = "IP_PROTOCOL_ANY"
  remote_ip_prefix = "10.10.11.0/24"
  direction        = "TRAFFIC_DIRECTION_INGRESS"
  port_range       = "any"
}

resource "cloudru_evolution_compute_security_group_rule" "sg-{{ config.vm_params[0].cluster_type }}-{{ config.vm_params[0].service_id }}-{{ config.vm_params[0].ogid }}_16" {
  security_group_id = cloudru_evolution_compute_security_group.sg-{{ config.vm_params[0].cluster_type }}-{{ config.vm_params[0].service_id }}-{{ config.vm_params[0].ogid }}.id
  description      = "IAM SE"
  ether_type       = "ETHER_TYPE_IPV4"
  ip_protocol      = "IP_PROTOCOL_ANY"
  remote_ip_prefix = "10.10.12.0/23"
  direction        = "TRAFFIC_DIRECTION_INGRESS"
  port_range       = "any"
}

resource "cloudru_evolution_compute_security_group_rule" "sg-{{ config.vm_params[0].cluster_type }}-{{ config.vm_params[0].service_id }}-{{ config.vm_params[0].ogid }}_17" {
  security_group_id = cloudru_evolution_compute_security_group.sg-{{ config.vm_params[0].cluster_type }}-{{ config.vm_params[0].service_id }}-{{ config.vm_params[0].ogid }}.id
  description      = "GIS SG rule"
  ether_type       = "ETHER_TYPE_IPV4"
  ip_protocol      = "IP_PROTOCOL_TCP"
  remote_ip_prefix = "{{ config.net_params[0].gis_subnet }}"
  direction        = "TRAFFIC_DIRECTION_EGRESS"
  port_range       = "any"
}

resource "cloudru_evolution_compute_security_group_rule" "sg-{{ config.vm_params[0].cluster_type }}-{{ config.vm_params[0].service_id }}-{{ config.vm_params[0].ogid }}_18" {
  security_group_id = cloudru_evolution_compute_security_group.sg-{{ config.vm_params[0].cluster_type }}-{{ config.vm_params[0].service_id }}-{{ config.vm_params[0].ogid }}.id
  description      = "JAM Cloud.Ru SG rule"
  ether_type       = "ETHER_TYPE_IPV4"
  ip_protocol      = "IP_PROTOCOL_TCP"
  remote_ip_prefix = "37.18.107.197/32"
  direction        = "TRAFFIC_DIRECTION_INGRESS"
  port_range       = "any"
}

resource "cloudru_evolution_compute_security_group_rule" "sg-{{ config.vm_params[0].cluster_type }}-{{ config.vm_params[0].service_id }}-{{ config.vm_params[0].ogid }}_19" {
  security_group_id = cloudru_evolution_compute_security_group.sg-{{ config.vm_params[0].cluster_type }}-{{ config.vm_params[0].service_id }}-{{ config.vm_params[0].ogid }}.id
  description      = "JAM Cloud.Ru SG rule"
  ether_type       = "ETHER_TYPE_IPV4"
  ip_protocol      = "IP_PROTOCOL_TCP"
  remote_ip_prefix = "185.71.64.201/32"
  direction        = "TRAFFIC_DIRECTION_INGRESS"
  port_range       = "any"
}

resource "cloudru_evolution_compute_security_group_rule" "sg-{{ config.vm_params[0].cluster_type }}-{{ config.vm_params[0].service_id }}-{{ config.vm_params[0].ogid }}_20" {
  security_group_id = cloudru_evolution_compute_security_group.sg-{{ config.vm_params[0].cluster_type }}-{{ config.vm_params[0].service_id }}-{{ config.vm_params[0].ogid }}.id
  description      = "Platform SG rule"
  ether_type       = "ETHER_TYPE_IPV4"
  ip_protocol      = "IP_PROTOCOL_TCP"
  remote_ip_prefix = "37.18.73.105/32"
  direction        = "TRAFFIC_DIRECTION_INGRESS"
  port_range       = "any"
}

resource "cloudru_evolution_compute_security_group_rule" "sg-{{ config.vm_params[0].cluster_type }}-{{ config.vm_params[0].service_id }}-{{ config.vm_params[0].ogid }}_21" {
  security_group_id = cloudru_evolution_compute_security_group.sg-{{ config.vm_params[0].cluster_type }}-{{ config.vm_params[0].service_id }}-{{ config.vm_params[0].ogid }}.id
  description      = "SUP SG rule"
  ether_type       = "ETHER_TYPE_IPV4"
  ip_protocol      = "IP_PROTOCOL_ANY"
  remote_ip_prefix = "10.246.0.0/20"
  direction        = "TRAFFIC_DIRECTION_INGRESS"
  port_range       = "any"
}

#resource "cloudru_evolution_compute_security_group_rule" "sg-{{ config.vm_params[0].cluster_type }}-{{ config.vm_params[0].service_id }}-{{ config.vm_params[0].ogid }}_22" {
#  security_group_id = cloudru_evolution_compute_security_group.sg-{{ config.vm_params[0].cluster_type }}-{{ config.vm_params[0].service_id }}-{{ config.vm_params[0].ogid }}.id
#  description      = "Local PAAS subnet"
#  ether_type       = "ETHER_TYPE_IPV4"
#  ip_protocol      = "IP_PROTOCOL_ANY"
#  remote_ip_prefix = "{{ config.net_params[0].subnet }}"
#  direction        = "TRAFFIC_DIRECTION_INGRESS"
#  port_range       = "any"
#}

#resource "cloudru_evolution_compute_security_group_rule" "sg-{{ config.vm_params[0].cluster_type }}-{{ config.vm_params[0].service_id }}-{{ config.vm_params[0].ogid }}_23" {
#  security_group_id = cloudru_evolution_compute_security_group.sg-{{ config.vm_params[0].cluster_type }}-{{ config.vm_params[0].service_id }}-{{ config.vm_params[0].ogid }}.id
#  description      = "Local PAAS subnet"
#  ether_type       = "ETHER_TYPE_IPV4"
#  ip_protocol      = "IP_PROTOCOL_ANY"
#  remote_ip_prefix = "{{ config.net_params[0].subnet }}"
#  direction        = "TRAFFIC_DIRECTION_EGRESS"
#  port_range       = "any"
#}

resource "cloudru_evolution_compute_security_group_rule" "sg-{{ config.vm_params[0].cluster_type }}-{{ config.vm_params[0].service_id }}-{{ config.vm_params[0].ogid }}_24" {
  security_group_id = cloudru_evolution_compute_security_group.sg-{{ config.vm_params[0].cluster_type }}-{{ config.vm_params[0].service_id }}-{{ config.vm_params[0].ogid }}.id
  description      = "DHCP"
  ether_type       = "ETHER_TYPE_IPV4"
  ip_protocol      = "IP_PROTOCOL_UDP"
  remote_ip_prefix = "255.255.255.255/32"
  direction        = "TRAFFIC_DIRECTION_EGRESS"
  port_range       = "67:67"
}







